<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <row>
    <h2>Latest Mars News</h2>
    <h3>{{ display_data.news_title }}</h3>
    <p>{{ display_data.news_p }}</p>
    </row>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="box">
        <div class="header">
          <h3 class="title">Featured Mars Image</h3>
        </div>
        <div class="content">
            <img src="{{ display_data.featured_image_url }}" alt="Featured Mars Image" style="width:100%">
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="box">
          <div class="header">
            <h3 class="title">Mars Facts</h3>
          </div>
            <div>
            {{display_data.html_table | safe }}
            </div>
        </div>
    </div>
   </div>

   <div class="row">
    <div class="page-header">
        <h2 class="text-center"><b>Mars Hemispheres</b></h2>
    </div>
    <!-- "for" loop to go through the dictionary -->
    {% for hemi in display_data.hemi_img_urls %}
    <div class="col-md-6">
    <!-- <figure class="figure"> -->
    <img class = "panel" src="{{ hemi.hemi_img_url }}" alt="{{ hemi.hemi_img_name }}" style="width:100%"> 
    <figcaption class = "panel"><h4>{{ hemi.hemi_img_name }}</h4></figcaption>
    <!-- </figure> -->
    </div>
    {% endfor %}
   </div>


  </div>
</body>

</html>